body {
    background-image:url(https://images.pexels.com/photos/37534/cube-six-gambling-play-37534.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: 	#040404;
}

.position {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(201, 196, 193, 0.8);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); 
    color: #bbb8c2;
    max-width: 550px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
}

.resultData {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Graduate', cursive;
    font-size: 25px;
    align-self: center;
    margin-top: 30px;
    color: #4d362a;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #4d362a;
    text-align: center;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #846454;
}

#input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f8efe2;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

#btn {
    background-color: #2a252b;
    color: #cfb4a6;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Graduate', cursive;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: bolder;
    color: #846454;
    text-align: center;
    margin: 0;
}

.red {
    color: #d8421d;
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
    margin: 10px 10px;
}


@media all and (max-width:500px) {
    .container {
        max-width: 300px;
        backdrop-filter: blur(9px);
    }
    h1 {
        font-size: 20px;
        margin-top: 10px;
    }
    h2, h3, p {
        font-size: 15px;
    }
    #input {
        padding: 5px;
    }
    #btn {
        font-size: 15px;
        padding: 5px;
        margin-top: 5px;
    }
    span {
        font-size: 20px;
    }
    .red {
        font-size: 20px;
    }
}
